/* header */
body {
    margin: 0;
    font-family: 'Hiragino Kaku Gothic ProN';
}

header {
    background-color: #24436F;
}

.header-container {
    margin: 0 auto;
    width: 1125px;
    padding: 13px 0 10px;
}

.header-small-container {
    display: flex;
    align-items: center;
}

.header-text {
    color: #BFC9D7;
    font-size: 12px;
    margin-left: 18px;
}

.release {
    background-color: #345584;
    /* 値がわからないため適当 */
    border-radius: 5px;
    padding: 9px 8px;
    display: flex;
    margin-left: 36px;
}

.release__li {
    font-size: 13px;
    line-height: 18px;
    align-items: center;
    color: #FFFFFF;
    list-style-type: none;
}

.release__li::after {
    content: "|";
    padding: 5px;
}

.release__li:last-child:after {
    content: "";
    padding: 0;
}

.release__li__anchor, .release__li__anchor:visited, .release__li__anchor:hover, .release__li__anchor:active {
    color: inherit;
    text-decoration: none;
}

.search-keyword {
    margin-left: 11px;
}

.search-keyword__form {
    display: flex;
}

.search-keyword__form__search-input {
    height: 30px;
    width: 258px;
    border: 0;
    padding-left: 15px;
    vertical-align:middle;
    /* 値がわからないため適当 */
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search-keyword__form__search-button {
    background-color: #3081C9;
    height: 30px;
    width: 30px;
    border: 0;
    vertical-align:middle;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 値がわからないため適当 */
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.release-type {
    display: flex;
}

.release-type__li {
    font-size: 13px;
    line-height: 20px;
    align-items: center;
    color: #BFC9D7;
    list-style-type: none;
}

.release__li__anchor, .release__li__anchor:visited, .release__li__anchor:hover, .release__li__anchor:active {
    color: inherit;
    text-decoration: none;
}

.release-type__li:first-child {
    font-weight: bold;
    color: #FFFFFF;
}

.release-type__li::after {
    content: "|";
    font-weight: normal;
    padding: 5px;
    color: #BFC9D7;
}

.release-type__li:last-child:after {
    content: "";
    padding: 0;
}

/* main */

.nav {
    background-color: #FFFFFF;
}

.nav__ul {
    display: flex;
    justify-content: center;
    padding: 13px 0px 11px;
    color: #294C7A;
    font-size: 13px;
}

.nav__ul__li {
    padding-left: 20px;
}

.nav__ul__li:first-child {
    font-weight: bold;
}

.ranking {
    background: #F2F2F2;
    display: flex;
    justify-content: center;
}

.cards {
    padding: 22px 0px;
    display: flex;
}

.card {
    width: 181px;
    height: auto;
    position: relative;
}

.card:not(:first-child) {
    margin-left: 8px;
}

.card__ranking {
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: #294C7A;
    text-align: center;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    line-height: 25px;
    color: #FFFFFF;
    letter-spacing: 4px;
}

.card__text-box{
    width: 100%;
    height: auto;
    padding: 8px 10px;
    background: #FFFFFF;
    box-sizing: border-box;
}

.card__text-box__title {
    font-size: 13px;
    color: #3B3B3B;
}

.card__text-box__text {
    font-size: 12px;
    color: #A2A2A2;
}

.card__text-box__time::before {
    width: 15px;
    height: 15px;
    content: '';
    display: inline-block;
    background: url(../img/time.png) no-repeat center;
    background-size: cover;
    vertical-align: middle;
}

/* main-contents */

.main-contents {
    margin: 40px auto 70px;
    width: 1127px;
    display: flex;
}

.contents {
    width: 779px;
}

.contents__title {
    font-size: 24px;
    color: #3B3B3B;
    /* figma通りfont-weight: 400にすると見た目がかけ離れているためboldにした */
    font-weight: bold;
}

.press-releases {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.press-release {
    width: 380px;
    display: flex;
    padding: 15px 0px 17px;
    border-bottom: 1px solid #E4E4E4;
}

.press-release:not(:nth-child(odd)) {
    margin-left: 18px;
}

.press-release__text-box__title {
    font-size: 14px;
    color: #3B3B3B;
    /* figma通りfont-weight: 400にすると見た目がかけ離れているためboldにした */
    font-weight: bold;
}

.press-release__text-box__detail {
    font-size: 13px;
    color: #A2A2A2;
    display: flex;
    margin-top: 6px;
}

.press-release__text-box__detail__company {
    margin-left: 6px;
}

.press-release__text-box__detail__time::before {
    width: 15px;
    height: 15px;
    content: '';
    display: inline-block;
    background: url(../img/time.png) no-repeat center;
    background-size: cover;
    vertical-align: middle;
}

.press-release__img {
    width: 100px;
    height: 66px;
    margin-left: 15px;
}

.contents__view_more_button {
    width: 110px;
    height: 38px;
    background: #3081C9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: 30px auto 0;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 33px;
}

.aside {
    width: 312px;
    margin-left: 36px;
}

.aside__title {
    font-size: 18px;
    color: #3B3B3B;
    /* figma通りfont-weight: 400にすると見た目がかけ離れているためboldにした */
    font-weight: bold;
}

.keywords {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-bottom: 11px;
    border-bottom: 1px solid #E4E4E4;
}

.keyword {
    font-size: 12px;
    background: #F1F1F1;
    border-radius: 11px;
    color: #3B3B3B;
    padding: 0 8px;
    height: 22px;
    display: flex;
    align-items: center;
    margin: 0 10px 9px 0;
}

.keyword__view_more {
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
}
