/* header */
body {
    margin: 0;
    font-family: 'Hiragino Kaku Gothic ProN';
}

header {
    background-color: #24436F;
}

.header-container {
    margin: 0 auto;
    width: 1125px;
    padding: 13px 0 10px;
}

.header-small-container {
    display: flex;
    align-items: center;
}

.header-text {
    color: #BFC9D7;
    font-size: 12px;
    margin-left: 18px;
}

.release {
    background-color: #345584;
    /* 値がわからないため適当 */
    border-radius: 5px;
    padding: 9px 8px;
    display: flex;
    margin-left: 36px;
}

.release__li {
    font-size: 13px;
    line-height: 18px;
    align-items: center;
    color: #FFFFFF;
    list-style-type: none;
}

.release__li::after {
    content: "|";
    padding: 5px;
}

.release__li:last-child:after {
    content: "";
    padding: 0;
}

.release__li__anchor, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.keyword {
    margin-left: 11px;
}

.keyword__form {
    display: flex;
}

.keyword__form__search-input {
    height: 30px;
    width: 258px;
    border: 0;
    padding-left: 15px;
    vertical-align:middle;
}

.keyword__form__search-button {
    background-color: #3081C9;
    height: 30px;
    width: 30px;
    border: 0;
    vertical-align:middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.release-type {
    display: flex;
}

.release-type__li {
    font-size: 13px;
    line-height: 20px;
    align-items: center;
    color: #BFC9D7;
    list-style-type: none;
}

.release-type__li_anchor, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.release-type__li:first-child {
    font-weight: bold;
    color: #FFFFFF;
}

.release-type__li::after {
    content: "|";
    font-weight: normal;
    padding: 5px;
    color: #BFC9D7;
}

.release-type__li:last-child:after {
    content: "";
    padding: 0;
}

/* main */
